/* Indexes/Menus common style sheet */

* {margin: 0; padding: 0; border-width: 0;}

body {margin: 8px; background: black url(./p/bg1.jpeg) repeat fixed; color: antiquewhite; font-family:"‚l‚r ‚o–¾’©", serif; line-height:133%;}
a:link {color: cyan;}
a:visited {color: mediumaquamarine;}
a:hover {background-color: darkblue;}
a:active {overflow: hidden; outline:none; position: relative; top: 1px; left: 1px;}
abbr {border-width: 1px;}


p {text-indent: 0em;}
em {font-style: normal; font-weight: bold; color: white; margin: 0 0.1em;}
strong {font-style: normal; font-weight: bold; color: red; margin: 0 0.1em;}
ol {margin: 1em 2.5em;}
ul {margin: 1em 2.5em;}
hr {border-width: 1px; color: gray; clear: both; margin: 0.3em 0;}


h1 {font-size: 2em; font-family: "‚l‚r ‚oƒSƒVƒbƒN",sans-serif; color: white; padding: 10px 0 0.5em;}
h3 {font-size: 1.5em; font-family: "‚l‚r ‚oƒSƒVƒbƒN",sans-serif; color: white; margin: 1.5em 0 0.5em;}
h4 {font-size: 1.2em; font-family: "‚l‚r ‚oƒSƒVƒbƒN",sans-serif; color: white;}


img#hdm {float: left; margin: 6px 12px 0 8px;}
p#hdd {}
p#hdu {float: right; margin: 0 1em;}
p#stat {position: absolute; margin: 0; padding: 0; top: 0.2em; right: 16px; font-size: smaller; color: gray;}
hr#hds {clear: both; margin: 0.5em 0 0.5em;}
.rset {float: right; margin: 5px;}
.lset {float: left; margin: 5px;}
div.para {clear: both;}


table.mmb {clear: both; border-width: 1px; border-color: slategray; border-style: outset; margin: 1em 1em 1em;}
table.mmb th, table.mmb td {border-width: 1px; border-color: slategray; border-style: inset; padding: 8px;}
table.mmb *.mdh {text-align: center; white-space: nowrap;}
table.mmb td.mdd {}
span.mupd {font-size: smaller;}


/* ===== flat lists ===== */
ul.flat {margin: 0;}
ul.flat li {list-style-type: none;}
.indent {margin-left: 2em;}
.indent h4 {margin-top: 1em;}
.indent p {text-indent: 1em;}

/* ===== graffiti.html, graffiti_e.html ===== */
div.imglnk {clear: both; margin: 0 8px 1em;}
div.imglnk img {float: left; margin: 4px 10px 10px 4px; border: solid 1px;}

/* ===== links.html, links_e.html ===== */
#links td {padding: 4px; vertical-align: top;}
#links #bannse {float: right;}
#links div#banner {float: right; border-width: 1px; border-style: inset;}
#links div#banner p {clear: both; font-size: smaller; line-height: 1em; padding: 4px;}
#links div#banner img {float: left; margin-right: 4px;}

/* ===== profile.html, prfile_e.html ===== */
#prof p#pfp {float: right; margin: 20px 20px 0 20px; text-align: center;}
#prof p#pfp span {font-style: italic;}
#prof table#pfw {clear: none;}


/* ===== cc.html, cc_e.html ===== */
div#ccb {width: 95%; background: transparent url(p/tea.jpeg) no-repeat top right;}
